<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="../node_modules/leaflet/dist/leaflet.css" rel="stylesheet">
  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/leaflet/dist/leaflet.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css" />

  <!-- https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.css
https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.js -->

  <script src="../node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
  <script src="../scripts/myScripts.js"></script>
  <title>GeoToDo App</title>
</head>

<body ng-controller="TheController as theController">
  <div class="container">
    <h1>GeoToDo App</h1>
    <h3>By Alaa, Daniel, Fabian and Vanesa</h3>
    <leaflet  tiles="tiles" lf-center="center" markers="markers" height="480px" width="100%"></leaflet>

    <div class="container" ng-show="markers && markers.length > 0">
      <div class="row">
        <div class="col-12">
          <!-- <h2>TODO list</h2> -->
          <table class="table">
            <thead>
              <tr>
                <th>Message</th>
                <th>
                  Date
                </th>
                <th>
                  Detailed address
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="marker in markers" >
                <td class="col-3" ng-hide="marker.editingEnabled">{{marker.message}}</td>
                <td class="col-3" ng-show="marker.editingEnabled">
                  <input  type="text" class="form-control" id="txtMessage" placeholder="Message" value="" ng-model="marker.message">
                </td>
                <td class="col-3" ng-hide="marker.editingEnabled">{{marker.dueDate | date: "dd/MM/yyyy (hh:mm)"}}</td>
                <td class="col-3" ng-show="marker.editingEnabled">
                  <input type="datetime-local" placeholder="Date" ng-model="marker.dueDate">
                </td>
                <td class="col-3">
                  {{marker.postalAddress}}
                </td>

                <!-- <td>

                  <input src="../img/info.png" width="64" height="64" title="Info" type="image" ng-click="showInfo($index)" data-toggle="modal" data-target="#myModal"></input>
                </td> -->
                <td class="col-md">

                  <input src="../img/zoom.png" width="64" height="64" title="Zoom to" type="image" ng-click="highlightTodo($index)"></input>
                </td>
                <td  class="col">

                  <input src="../img/delete.png" width="64" height="64" title="Remove" type="image" ng-click="deleteTodo($index)"></input>
                </td>
                <td  class="col">

                  <input src="../img/edit.png" width="64" height="64" title="Toggle Edit" type="image" ng-click="toggleEditTodo($index)"></input>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Modal Window -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Info</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>Change the item here:</p>
            <p>Message:<input type="text" ng-model="currentMarker.message"></p>
            <p>Address:{{currentMarker.postalAddress}}</p>
            <p><input type="datetime-local" ng-model="currentMarker.dueDate"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
