html, body {
  background-color: #333;
  color:white;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  font-family:monospace;
}
.modal-content{
  background: #17a2b8;
    opacity: 0.82;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background: #333333
}
.table{
  border-collapse: separate;
border-spacing: 1em;
}
.table tr{
  border: 1px;
border-color: white;
border-style: groove;
}
.table tr:hover{
  background-color: darkgrey;
}
